.input-group6 {
    display: flex;
    margin-bottom: 30px;
    font: size 2px;
    margin-left: 0px;
    margin-top: 50px;
  }
  .finalpaymentform{
    margin-top:80px ;
    margin-left: -150px;
  }

  .white-rectangle_payment{

    background-color: #ffffff; /* Set background color to white */
    margin-top:175px;
    margin-left:400px ;
    width: 350px; /* Set the width of the rectangle */
    height: 20px; /* Set the height of the rectangle */
    position:absolute; /* Use absolute positioning */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
  
  }

  
  .label6 {
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  