.input-group6 {
    display: flex;
    margin-bottom: 9px;
    font: size 2px;
    margin-left: 200px;
    margin-top: 0px;
  }

  .label6 {
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
    
  }

  input[type="text"],
  input[type="password"] {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .totalformpharmacy{
    margin-top:0px ;
  }